/*GENERAL*/
* {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*BODY*/
body {
  background: #12acee;
}
/* HEADER */
header {
  background: #fff;
  padding: 24px 16px;
}
/* CONTAINER */
.container {
  width: 55%;
  background: #f9f6f9;
  margin: 32px auto;
  padding: 10px;
}
/* BUTTON */
.button {
  padding: 24px 16px;
  border-bottom: 2px solid #12acee;
}
.btn {
  padding: 8px 16px;
  border-radius: 5px;
  text-transform: uppercase;
}
.btn.filled {
  background: #12acee;
  color: #fff;
  border: 1px solid #12acee;
}

.btn.outfilled {
  border: 1px solid #12acee;
  background: #fff;
  color: #12acee;
}
/* TASK */
li {
  list-style: none; /* toglie il pallino dalla lista */
  padding: 4px;
}
.circle {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  line-height: 24px;
  text-align: center;
}
.pill {
  border-radius: 500px;
  display: inline-block;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background-color: #12acee;
  padding: 0 16px;
  color: white;
}
.check {
  border: 1px solid green;
  color: green;
}
.cross {
  border: 1px solid red;
  color: red;
}

.mt {
}
.blue {
  background-color: #12acee;
}
.viola {
  background-color: #9c72e4;
}
.arancione {
  background-color: #f29e33;
}
.verde {
  background-color: #64c0a9;
}
.rosa {
  background-color: #d863a1;
}
.verdel {
  background-color: #b0c926;
}
